.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  border-radius: 8px;
  padding: 8px;
  border-width: 1px;
  border-style: dashed;
}
.strapiField__aodyD:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Unbounded";
  text-align: left;
}
.strapiField__bCnB5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 14px;
}
.strapiField__m8Ngf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
